@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');

$ff-main: 'Montserrat', sans-serif;
$ff-head-i: 'Pacifico', cursive;
$clr-blue: #0e80e9;
$clr-black: #000;
$clr-white: #fff;
$shadow: rgba(0, 0, 0, 0.25);

@import './components/displayBox/_displayBox.scss';
@import './components/header/_header.scss';
@import './components/textForm/_textForm.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 20px;
	font-family: $ff-main;
}
